.a-avatar {
	$BORDER_WHITE: rgb(255, 255, 255);

	box-sizing: border-box;
	display: inline-block;
	width: 30px;
	height: 30px;
	overflow: hidden;
	border: 2px $BORDER_WHITE;
	border-radius: 50%;

	&_image {
		width: 100%;
		height: 100%;
		vertical-align: middle;
	}

	&-small {
		width: 20px;
		height: 20px;
	}

	&-large {
		width: 48px;
		height: 48px;
	}

	&-border-small {
		border-width: 1px;
	}

	&-border-large {
		border-width: 5px;
	}

	&-border-always,
	&-border-hover:hover,
	&-border-active:active,
	&-border-focus:focus {
		border-style: solid;
	}

	&-border-transparent {
		border-color: transparent;
	}
}
